#root {
  padding: 2rem;
  width: 200px;
  height: 100vh;
  text-align: center;
  box-shadow: 1px 2px 2px 0 #0c0c0c;
  background: #161515;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.rootdirectory {
  display: flex;
  gap: 2px;
  padding: 0px 5px 0 5px;
}

.rootdirectory:hover {
  background: black;
  cursor: pointer;
}

.diricon {
  color: yellow;
}

.diricon:hover {
  cursor: pointer;
}

svg {
  height: 10px;
  width: 10px;
}

